CD_DA
CD_TEXT {
  LANGUAGE_MAP {
    0 : EN
  }

LANGUAGE 0 {
 TITLE "<%= @album %>"
  PERFORMER "<%= @artist %>"
    ISRC "DE-XXX-98-00001"
    DISC_ID "XY12345"
    UPC_EAN ""
  }}

<% @tracks.each do |track| %>
TRACK AUDIO
ISRC "DEXXX9800001"
CD_TEXT {
  LANGUAGE 0 {
    TITLE "<%= track[:title] %>"
   PERFORMER "<%= @artist %>"
  }
}
FILE "<%= track[:filename] %>" 0
<% end %>
